body {background-color: #FFE000}

h1 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
    {color: #cc3300
}

li {
	color: black;
}

.Nutrition{color:#887;}